{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/world_stats.js' %}"></script>
<!-- this helps for learning: http://app.rawgraphs.io -->
<!-- this to: http://rawgraphs.io -->
<!-- http://d3-generator.com -->

<script type="text/javascript">
var all_it;
function get_val(elegance){
    all_it = elegance;
    return elegance;
}

$(document).ready(function() {
    $('.initlaclass').hide()
    $('.big_cities').on('click', function(){
        $('.hide_cities' + all_it).show()
    });
});
</script>

<div class="container">
    <div id="feature-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <center><h2>Dendogram of all the countries that have used our software.
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</h2></center>
            </div>
            <div class="item">
                <center><h2>On the right, you'll see which countries have used our software along with how many times it's been used in that country.</h2></center>
            </div>
        </div>
     </div>
</div>

{% for count in dup_total %}
    {{count}}<br>
{% endfor %}

<div class="container">
    <center>
        <svg width="1000" height="1500" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <g transform="translate(40,0)">
                <g class="node" transform="translate(0,750)">
                    <circle r="4.5" style="fill: rgb(238, 238, 238); stroke: rgb(153, 153, 153); stroke-width: 1px;"></circle>
                    <text dx="-8" dy="3" style="font-size: 11px; font-family: Arial, Helvetica; text-anchor: end;"></text>
                </g>
                {% for count in total %}
                    <!--path class="link" d="M0,750C171.875,750 343.75,{count.2}} 343.75,{count.2}}" style="fill: none; stroke: rgb({count.5}}, {count.6}}, {count.7}}); stroke-width: 1px;"></path-->
                    <path class="link" d="M0,750C171.875,750 343.75,{{count.2}} 458,{{count.2}}" style="fill: none; stroke: rgb({{count.5}}, {{count.6}}, {{count.7}}); stroke-width: 1px;"></path>
                    <!--g class="node" transform="translate(343.75,{count.2}})"-->
                    <g class="node" transform="translate(458,{{count.2}})">
                        <circle class="big_cities" onclick='should_hide("{{count.2}}"); get_val("{{count.2}}");' r="{{count.8}}" style="fill: rgb(238, 238, 238); stroke: rgb(153, 153, 153); stroke-width: 1px;"></circle>
                        <text dx="8" dy="3" style="font-size: 12px; font-family: Arial, Helvetica; text-anchor: start;">{{count.0}}, {{count.1}}</text>
                    </g>
                    {% for city in count.3 %}
                        <!--path class="hide_cities{{count.2}} initlaclass" class="link" d="M348.75,{{count.2}}C515.625,{{city.1}} 515.625,{{city.1}} 687.5,{{city.1}}" style="fill: none; stroke: rgb({{count.5}}, {{count.6}}, {{count.7}} ); stroke-width: 1px;"></path-->
                        <path class="hide_cities{{count.2}} initlaclass" class="link" d="M458.75,{{count.2}}C515.625,{{city.1}} 515.625,{{city.1}} 687.5,{{city.1}}" style="fill: none; stroke: rgb({{count.5}}, {{count.6}}, {{count.7}} ); stroke-width: 1px;"></path>
                        <g class="hide_cities{{count.2}} initlaclass" class="node" transform="translate(687.5,{{city.1}})">
                            <circle r="4.5" style="fill: rgb(238, 238, 238); stroke: rgb(153, 153, 153); stroke-width: 1px;"></circle>
                            <text dx="8" dy="3" style="font-size: 11px; font-family: Arial, Helvetica; text-anchor: start;">{{city.0}}, {{city.2}} -- {{count.2}} </text>
                        </g>
                    {% endfor %}
                {% endfor %}
            </g>
        </svg>
    </center>
</div>
<br><br>

<svg width="847.5" height="500" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <g transform="translate(40,0)">
        <!-- path linking from starting dot to region dot -->
        <path class="link" d="M0,250C114.58333333333334,250 114.58333333333334,250 229.16666666666669,250" style="fill: none; stroke: rgb(204, 204, 204); stroke-width: 1px;"></path>
        <!-- path linking from region dot to Mexico dot -->
        <path class="link" d="M229.16666666666669,250C343.75,250 343.75,125 458.33333333333337,125" style="fill: none; stroke: rgb(204, 204, 204); stroke-width: 1px;"></path>
        <path class="link" d="M229.16666666666669,250C343.75,250 343.75,375 458.33333333333337,375" style="fill: none; stroke: rgb(204, 204, 204); stroke-width: 1px;"></path>
        <!-- path linking from Mexico dot to Mexico City dot -->
        <path class="link" d="M458.33333333333337,125C572.9166666666667,125 572.9166666666667,125 687.5,125" style="fill: none; stroke: rgb(204, 204, 204); stroke-width: 1px;"></path>
        <path class="link" d="M458.33333333333337,375C572.9166666666667,375 572.9166666666667,375 687.5,375" style="fill: none; stroke: rgb(204, 204, 204); stroke-width: 1px;"></path>

        <g class="node" transform="translate(0,250)">
            <circle r="4.5" style="fill: rgb(238, 238, 238); stroke: rgb(153, 153, 153); stroke-width: 1px;"></circle>
            <text dx="-8" dy="3" style="font-size: 11px; font-family: Arial, Helvetica; text-anchor: end;"></text>
        </g>
        <g class="node" transform="translate(229.16666666666669,250)">
            <circle r="4.5" style="fill: rgb(238, 238, 238); stroke: rgb(153, 153, 153); stroke-width: 1px;"></circle>
            <text dx="-8" dy="3" style="font-size: 11px; font-family: Arial, Helvetica; text-anchor: end;">North America</text>
        </g>
        <g class="node" transform="translate(458.33333333333337,125)">
            <circle r="4.5" style="fill: rgb(238, 238, 238); stroke: rgb(153, 153, 153); stroke-width: 1px;"></circle>
            <text dx="-8" dy="3" style="font-size: 11px; font-family: Arial, Helvetica; text-anchor: end;">Mexico</text>
        </g>
        <g class="node" transform="translate(687.5,125)">
            <circle r="4.5" style="fill: rgb(238, 238, 238); stroke: rgb(153, 153, 153); stroke-width: 1px;"></circle>
            <text dx="8" dy="3" style="font-size: 11px; font-family: Arial, Helvetica; text-anchor: start;">Mexico City</text>
        </g>
        <g class="node" transform="translate(458.33333333333337,375)">
            <circle r="4.5" style="fill: rgb(238, 238, 238); stroke: rgb(153, 153, 153); stroke-width: 1px;"></circle>
            <text dx="-8" dy="3" style="font-size: 11px; font-family: Arial, Helvetica; text-anchor: end;">United States</text>
        </g>
        <g class="node" transform="translate(687.5,375)">
            <circle r="4.5" style="fill: rgb(238, 238, 238); stroke: rgb(153, 153, 153); stroke-width: 1px;"></circle>
            <text dx="8" dy="3" style="font-size: 11px; font-family: Arial, Helvetica; text-anchor: start;">New York City</text>
        </g>
    </g>
</svg>


<!--svg width="847.5" height="500" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <g transform="translate(40,0)">
        <path class="link" d="M0,208.33333333333334C114.58333333333334,208.33333333333334 114.58333333333334,83.33333333333333 229.16666666666669,83.33333333333333" style="fill: none; stroke: rgb(204, 204, 204); stroke-width: 1px;"></path>
        <path class="link" d="M0,208.33333333333334C114.58333333333334,208.33333333333334 114.58333333333334,333.3333333333333 229.16666666666669,333.3333333333333" style="fill: none; stroke: rgb(204, 204, 204); stroke-width: 1px;"></path>
        <path class="link" d="M229.16666666666669,83.33333333333333C343.75,83.33333333333333 343.75,83.33333333333333 458.33333333333337,83.33333333333333" style="fill: none; stroke: rgb(204, 204, 204); stroke-width: 1px;"></path>
        <path class="link" d="M458.33333333333337,83.33333333333333C572.9166666666667,83.33333333333333 572.9166666666667,83.33333333333333 687.5,83.33333333333333" style="fill: none; stroke: rgb(204, 204, 204); stroke-width: 1px;"></path>
        <path class="link" d="M229.16666666666669,333.3333333333333C343.75,333.3333333333333 343.75,250 458.33333333333337,250" style="fill: none; stroke: rgb(204, 204, 204); stroke-width: 1px;"></path>
        <path class="link" d="M229.16666666666669,333.3333333333333C343.75,333.3333333333333 343.75,416.6666666666667 458.33333333333337,416.6666666666667" style="fill: none; stroke: rgb(204, 204, 204); stroke-width: 1px;"></path>
        <path class="link" d="M458.33333333333337,250C572.9166666666667,250 572.9166666666667,250 687.5,250" style="fill: none; stroke: rgb(204, 204, 204); stroke-width: 1px;"></path>
        <path class="link" d="M458.33333333333337,416.6666666666667C572.9166666666667,416.6666666666667 572.9166666666667,416.6666666666667 687.5,416.6666666666667" style="fill: none; stroke: rgb(204, 204, 204); stroke-width: 1px;"></path>
        <g class="node" transform="translate(0,208.33333333333334)">
            <circle r="4.5" style="fill: rgb(238, 238, 238); stroke: rgb(153, 153, 153); stroke-width: 1px;"></circle>
            <text dx="-8" dy="3" style="font-size: 11px; font-family: Arial, Helvetica; text-anchor: end;"></text>
        </g>
        <g class="node" transform="translate(229.16666666666669,83.33333333333333)">
            <circle r="4.5" style="fill: rgb(238, 238, 238); stroke: rgb(153, 153, 153); stroke-width: 1px;"></circle>
            <text dx="-8" dy="3" style="font-size: 11px; font-family: Arial, Helvetica; text-anchor: end;">Africa</text>
        </g>
        <g class="node" transform="translate(458.33333333333337,83.33333333333333)">
            <circle r="4.5" style="fill: rgb(238, 238, 238); stroke: rgb(153, 153, 153); stroke-width: 1px;"></circle>
            <text dx="-8" dy="3" style="font-size: 11px; font-family: Arial, Helvetica; text-anchor: end;">Nigeria</text>
        </g>
        <g class="node" transform="translate(687.5,83.33333333333333)">
            <circle r="4.5" style="fill: rgb(238, 238, 238); stroke: rgb(153, 153, 153); stroke-width: 1px;"></circle>
            <text dx="8" dy="3" style="font-size: 11px; font-family: Arial, Helvetica; text-anchor: start;">Lagos</text>
        </g>
        <g class="node" transform="translate(229.16666666666669,333.3333333333333)">
            <circle r="4.5" style="fill: rgb(238, 238, 238); stroke: rgb(153, 153, 153); stroke-width: 1px;"></circle>
            <text dx="-8" dy="3" style="font-size: 11px; font-family: Arial, Helvetica; text-anchor: end;">North America</text>
        </g>
        <g class="node" transform="translate(458.33333333333337,250)">
            <circle r="4.5" style="fill: rgb(238, 238, 238); stroke: rgb(153, 153, 153); stroke-width: 1px;"></circle>
            <text dx="-8" dy="3" style="font-size: 11px; font-family: Arial, Helvetica; text-anchor: end;">Mexico</text>
        </g>
        <g class="node" transform="translate(687.5,250)">
            <circle r="4.5" style="fill: rgb(238, 238, 238); stroke: rgb(153, 153, 153); stroke-width: 1px;"></circle>
            <text dx="8" dy="3" style="font-size: 11px; font-family: Arial, Helvetica; text-anchor: start;">Mexico City</text>
        </g>
        <g class="node" transform="translate(458.33333333333337,416.6666666666667)">
            <circle r="4.5" style="fill: rgb(238, 238, 238); stroke: rgb(153, 153, 153); stroke-width: 1px;"></circle>
            <text dx="-8" dy="3" style="font-size: 11px; font-family: Arial, Helvetica; text-anchor: end;">United States</text>
        </g>
        <g class="node" transform="translate(687.5,416.6666666666667)">
            <circle r="4.5" style="fill: rgb(238, 238, 238); stroke: rgb(153, 153, 153); stroke-width: 1px;"></circle>
            <text dx="8" dy="3" style="font-size: 11px; font-family: Arial, Helvetica; text-anchor: start;">Chicago</text>
        </g>
    </g>
</svg>-->

<script type="text/javascript">
var truth;
function should_hide(abundant) {
    var brightness = document.getElementsByClassName('hide_cities' + abundant);
    if(truth != 1){
        for(var i = 0; i != brightness.length; ++i){
            brightness[i].style.visibility = "visible"; // hidden has to be a string
            truth=1;
        }
    }
    else if(truth == 1){
        for(var i = 0; i != brightness.length; ++i){
            brightness[i].style.visibility = "hidden"; // hidden has to be a string
            truth=0;
        }
    }
}
</script>



{% endblock content %}


