{% extends "base.html" %}

{% block content %}
{% load staticfiles %}

<!-- this helps for learning: http://app.rawgraphs.io -->
<!-- this to: http://rawgraphs.io -->
<!-- http://d3-generator.com -->

<div class="container">
    <div id="feature-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <center><h2>Dendogram of all the countries that have used our software.
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</h2></center>
            </div>
            <div class="item">
                <center><h2>On the right, you'll see which countries have used our software along with how many times it's been used in that country.</h2></center>
            </div>
        </div>
     </div>
</div>

<div class="container">
    <center>
        <svg width="1000" height="1500" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <g transform="translate(40,0)">
                <g class="node" transform="translate(0,750)">
                    <circle r="4.5" style="fill: rgb(238, 238, 238); stroke: rgb(153, 153, 153); stroke-width: 1px;"></circle>
                    <text dx="-8" dy="3" style="font-size: 11px; font-family: Arial, Helvetica; text-anchor: end;"></text>
                </g>
                <!--% for key, values in dicts.items %}
                    <path class="link" d="M0,750C171.875,750 343.75,{values.1}} 343.75,{values.1}}" style="fill: none; stroke: rgb(204, 204, 204); stroke-width: 1px;"></path>
                    <g class="node" transform="translate(343.75,{values.1}})">
                        <circle r="4.5" style="fill: rgb(238, 238, 238); stroke: rgb(153, 153, 153); stroke-width: 1px;"></circle>
                        <text dx="8" dy="3" style="font-size: 11px; font-family: Arial, Helvetica; text-anchor: start;">{key}}, {values.0}}</text>
                    </g>
                    % for city in values.2 %}
                        <path class="link" d="M348.75,{{values.1}}C515.625,{{city.1}} 515.625,{{city.1}} 687.5,{{city.1}}" style="fill: none; stroke: rgb(204, 204, 204); stroke-width: 1px;"></path>
                        <g class="node" transform="translate(687.5,{{city.1}})">
                            <circle r="4.5" style="fill: rgb(238, 238, 238); stroke: rgb(153, 153, 153); stroke-width: 1px;"></circle>
                            <text dx="8" dy="3" style="font-size: 11px; font-family: Arial, Helvetica; text-anchor: start;">{{city.0}}</text>
                        </g>
                    % endfor %}
                % endfor %}-->
                {% for count in total %}
                    <path class="link" d="M0,750C171.875,750 343.75,{{count.2}} 343.75,{{count.2}}" style="fill: none; stroke: rgb({{count.5}}, {{count.6}}, {{count.7}}); stroke-width: 1px;"></path>
                    <g class="node" transform="translate(343.75,{{count.2}})">
                        <!--circle r="4.5" style="fill: rgb(238, 238, 238); stroke: rgb(153, 153, 153); stroke-width: 1px;"></circle-->
                        <circle r="{{count.8}}" style="fill: rgb(238, 238, 238); stroke: rgb(153, 153, 153); stroke-width: 1px;"></circle>
                        <text dx="8" dy="3" style="font-size: 12px; font-family: Arial, Helvetica; text-anchor: start;">{{count.0}}, {{count.1}}</text>
                    </g>
                    {% for city in count.3 %}
                        <path class="link" d="M348.75,{{count.2}}C515.625,{{city.1}} 515.625,{{city.1}} 687.5,{{city.1}}" style="fill: none; stroke: rgb({{count.5}}, {{count.6}}, {{count.7}} ); stroke-width: 1px;"></path>
                        <g class="node" transform="translate(687.5,{{city.1}})">
                            <circle r="4.5" style="fill: rgb(238, 238, 238); stroke: rgb(153, 153, 153); stroke-width: 1px;"></circle>
                            <text dx="8" dy="3" style="font-size: 11px; font-family: Arial, Helvetica; text-anchor: start;">{{city.0}}, {{city.2}}</text>
                        </g>
                    {% endfor %}
                {% endfor %}
            </g>
        </svg>
    </center>
</div>


{% endblock content %}

