{% extends "base.html" %}

{% block title %}Tables of all the regions, countries and cities that have used UV-CDAT{% endblock title %}

{% block content %}
{% load staticfiles %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!--div class="container">
    <div id="feature-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <center><h2>Tables of all the regions, countries and cities that have used our software.
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</h2></center>
            </div>
            <div class="item">
                <center style="visibility:hidden"><h2>On the right, you'll see which countries have used our software along with how many times it's been used in that country.</h2></center>
            </div>
        </div>
     </div>
</div-->

<table>
    <col width="525">
    <col width="525">
    <col width="525">
    <tr>
        <td><div id="regions_table_div"></div></td>
        <td><div id="country_table_div"></div></td>
        <td><div id="cities_table_div"></div></td>
    </tr>
</table>

<script type="text/javascript">
  google.charts.load('current', {'packages':['table']});
  google.charts.setOnLoadCallback(drawCountriesTable);
  google.charts.setOnLoadCallback(drawCitiesTable);
  google.charts.setOnLoadCallback(drawRegionsTable);

  var call = {{checked|safe}};
  var countries = [];
  for(var i=0; i < call.length; i++){
    for(var k=0; k < call[i][2].length; k++){
        var nested = [];
        nested.push(call[i][2][k][0]);
        nested.push(call[i][2][k][1]);
        countries.push(nested);
    }
  }

  var cities = [];
  for(var i=0; i < call.length; i++){
    for(var k=0; k < call[i][2][0][3].length; k++){
       nested = [];
       nested.push(call[i][2][0][3][k][0]); 
       nested.push(call[i][2][0][3][k][2]); 
       cities.push(nested);
    }
  }

  var regions = [];
  for(var i=0; i < call.length; i++){
    nested = [];
    nested.push(call[i][0]);
    var total = 0;
    for(var j=0; j < call[i][2].length; j++){
        total += call[i][2][j][1];
    }
    nested.push(total);
    regions.push(nested);
  } 

  function drawCountriesTable() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Country');
    data.addColumn('number', '# of Unique Users');
    data.addRows(countries);
    data.sort({column: 1, desc: true});
    var table = new google.visualization.Table(document.getElementById('country_table_div'));
    table.draw(data, {showRowNumber: true, width: '250px', height: '500px'});
  }

  function drawCitiesTable() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Cities');
    data.addColumn('number', '# of Unique Users');
    data.addRows(cities);
    data.sort({column: 1, desc: true});
    var table = new google.visualization.Table(document.getElementById('cities_table_div'));
    table.draw(data, {showRowNumber: true, width: '250px', height: '500px'});
  }

  function drawRegionsTable() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Regions');
    data.addColumn('number', '# of Unique Users');
    data.addRows(regions);
    data.sort({column: 1, desc: true});
    var table = new google.visualization.Table(document.getElementById('regions_table_div'));
    table.draw(data, {showRowNumber: true, width: '250px', height: '500px'});
  }

</script>

{% endblock content %}

