{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<link href="{% static 'css/base/slideshow.css' %}" rel="stylesheet">
<!DOCTYPE html>
<html>
<head>
<link rel="icon" type="image/png" href="http://uvcdat.llnl.gov/media/images/favicon.ico">
<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css"-->
<!--script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script-->
<script src="https://d3js.org/d3.v4.min.js"></script>
</head>

<br>
<div class="container">
    <div id="feature-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <center><h2>Welcome to the UV-CDAT analytics site.</h2></center>
            </div>
            <div class="item">
                <center><h2>Here lives UV-CDAT usage statistical plots.</h2></center>
            </div>
            <div class="item">
                {% if user.is_authenticated %}
                    <center><h2>Feel free to poke around :)</h2></center>
                {% else %}
                    <center><h2>Please login to see the plots.</h2></center>
                {% endif %}
            </div>   
        </div>
     </div>
</div>

<br>

<div class="container">
   <center>
       <a href="https://uvcdat.llnl.gov/index.html">
           <img id="footer_img" src="https://uvcdat.llnl.gov/images/uvcdat.png"></img>
       </a>&nbsp;
       <a href="https://github.com/UV-CDAT/uvcdat" class="btn btn-social-icon btn-github"><i class="fa fa-github"></i></a> 
    </center>
</div>

<br><br>

<!--div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well"> 
                <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    
                <div class="item active">
                    <div class="row-fluid">
                      <div class="col-md-3">
                         <a class="slide_link" href="https://uvcdat.llnl.gov/examples/vcs3D_cubed_sphere_volume.html" class="thumbnail">
                            <img class="image_slide" src="https://uvcdat.llnl.gov/gallery/fullsize/vcs3D_cubed_sphere_volume.png" alt="Image" style="max-width:100%;" />
                        </a>
                      </div>
                      <div class="col-md-3">
                         <a class="slide_link" href="https://uvcdat.llnl.gov/examples/vcs3D_multiplot.html" class="thumbnail">
                            <img class="image_slide" src="https://uvcdat.llnl.gov/gallery/fullsize/vcs3D_multiplot.png" alt="Image" style="max-width:100%;" />
                        </a>
                      </div>
                      <div class="col-md-3">
                         <a class="slide_link" href="https://uvcdat.llnl.gov/examples/vcs3D_sphu_surface.html" class="thumbnail">
                            <img class="image_slide" src="https://uvcdat.llnl.gov/gallery/fullsize/vcs3D_sphu_surface.png" alt="Image" style="max-width:100%;" />
                         </a>
                      </div>
                      <div class="col-md-3">
                         <a class="slide_link" href="https://uvcdat.llnl.gov/examples/vcs3D_sphu_volume.html" class="thumbnail">
                            <img class="image_slide" src="https://uvcdat.llnl.gov/gallery/fullsize/vcs3D_sphu_volume.png" alt="Image" style="max-width:100%;" />
                         </a>
                      </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row-fluid">
                        <div class="col-md-3">
                            <a class="slide_link" href="https://uvcdat.llnl.gov/examples/vcs3D_temperature_anomaly.html" class="thumbnail">
                                <img class="image_slide" src="https://uvcdat.llnl.gov/gallery/fullsize/vcs3D_temperature_anomaly.png" alt="Image" style="max-width:100%;" />
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a class="slide_link" href="https://uvcdat.llnl.gov/examples/vcs3D_uwnd_slice.html" class="thumbnail">
                                <img class="image_slide" src="https://uvcdat.llnl.gov/gallery/fullsize/vcs3D_uwnd_slice.png" alt="Image" style="max-width:100%;" />
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a class="slide_link" href="https://uvcdat.llnl.gov/examples/vcs3D_wnd_vector.html" class="thumbnail">
                                <img class="image_slide" src="https://uvcdat.llnl.gov/gallery/fullsize/vcs3D_wnd_vector.png" alt="Image" style="max-width:100%;" />
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a class="slide_link" href="https://uvcdat.llnl.gov/examples/vcs3d_uwnd_volume.html" class="thumbnail">
                                <img class="image_slide" src="https://uvcdat.llnl.gov/gallery/fullsize/vcs3D_uwnd_volume.png" alt="Image" style="max-width:100%;" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row-fluid">
                        <div class="col-md-3">
                            <a class="slide_link" href="https://uvcdat.llnl.gov/examples/BlueMarble_huss_jja_clim.html" class="thumbnail">
                                <img class="image_slide" src="https://uvcdat.llnl.gov/gallery/fullsize/BlueMarble_huss_jja_clim.png" alt="Image" style="max-width:100%;" />
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a class="slide_link" href="https://uvcdat.llnl.gov/examples/BlueMarble_huss_satellite_view.html" class="thumbnail">
                                <img class="image_slide" src="https://uvcdat.llnl.gov/gallery/fullsize/BlueMarble_huss_satellite_view_daytimeview.png" alt="Image" style="max-width:100%;" />
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a class="slide_link" href="https://uvcdat.llnl.gov/examples/BlueMarble_pr_jja_clim.html" class="thumbnail">
                                <img class="image_slide" src="https://uvcdat.llnl.gov/gallery/fullsize/BlueMarble_pr_jja_clim.png" alt="Image" style="max-width:100%;" />
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a class="slide_link" href="https://uvcdat.llnl.gov/examples/Clim_DJF_200mb_wnd_ts_gph.html" class="thumbnail">
                                <img class="image_slide" src="https://uvcdat.llnl.gov/gallery/fullsize/example_200mb_wnd_ts_gph_djf_clim.png" alt="Image" style="max-width:100%;" />
                            </a>
                        </div>
                    </div>
                </div>
                 
                </div>
                 
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                </div>
                 
            </div>
        </div>
    </div>
</div-->

<br>

<div id="ucarouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <!--li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="8"></li-->
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <a class="slide_link" href="https://uvcdat.llnl.gov/examples/vcs3D_cubed_sphere_volume.html">
        <img src="https://uvcdat.llnl.gov/gallery/fullsize/vcs3D_cubed_sphere_volume.png" alt="First slide">
      </a>
    </div>
    <div class="item">
      <a class="slide_link" href="https://uvcdat.llnl.gov/examples/vcs3D_multiplot.html">
        <img src="https://uvcdat.llnl.gov/gallery/fullsize/vcs3D_multiplot.png" alt="Second slide">
      </a>
    </div>
    <div class="item">
      <a class="slide_link" href="https://uvcdat.llnl.gov/examples/vcs3D_sphu_surface.html">
        <img src="https://uvcdat.llnl.gov/gallery/fullsize/vcs3D_sphu_surface.png" alt="Third slide">
      </a>
    </div>
    <!--div class="item">
      <a class="slide_link" href="https://uvcdat.llnl.gov/examples/vcs3D_sphu_volume.html">
        <img src="https://uvcdat.llnl.gov/gallery/fullsize/vcs3D_sphu_volume.png" alt="Fourth slide">
      </a>
    </div>
    <div class="item">
      <a class="slide_link" href="https://uvcdat.llnl.gov/examples/vcs3D_temperature_anomaly.html">
        <img src="https://uvcdat.llnl.gov/gallery/fullsize/vcs3D_temperature_anomaly.png" alt="Fifth slide">
      </a>
    </div>
    <div class="item">
      <a class="slide_link" href="https://uvcdat.llnl.gov/examples/vcs3D_uwnd_slice.html">
        <img src="https://uvcdat.llnl.gov/gallery/fullsize/vcs3D_uwnd_slice.png" alt="Sixth slide">
      </a>
    </div>
    <div class="item">
      <a class="slide_link" href="https://uvcdat.llnl.gov/examples/vcs3D_wnd_vector.html">
        <img src="https://uvcdat.llnl.gov/gallery/fullsize/vcs3D_wnd_vector.png" alt="Seventh slide">
      </a>
    </div>
    <div class="item">
      <a class="slide_link" href="https://uvcdat.llnl.gov/examples/vcs3d_uwnd_volume.html">
        <img src="https://uvcdat.llnl.gov/gallery/fullsize/vcs3D_uwnd_volume.png" alt="Eighth slide">
      </a>
    </div>
    <div class="item">
      <a class="slide_link" href="https://uvcdat.llnl.gov/examples/BlueMarble_huss_jja_clim.html">
        <img src="https://uvcdat.llnl.gov/gallery/fullsize/BlueMarble_huss_jja_clim.png" alt="Ninth slide">
      </a>
    </div-->
  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<br>

{% endblock content %} 
