{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css">
<link href="{% static 'css/footer.css' %}" rel="stylesheet">
<link href="{% static 'css/social.css' %}" rel="stylesheet">

<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'js/social.js' %}"></script>
<!-- http://stackoverflow.com/questions/14720464/django-project-base-template -->
<!-- http://bootsnipp.com/snippets/featured/social-buttons-for-bootstrap -->
<!-- http://lipis.github.io/bootstrap-social/ -->

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <div class="container">
                        <div class="row">
                            <div class="btn-group">
                                <li><a style="color:black; font-size:125%" href="/stats">Home</a></li>
                            </div>&nbsp;
                            <div class="btn-group">
                              <li class="dropdown-toggle" data-toggle="dropdown" style="font-size:125%;">
                                Global Stats <span class="caret"></span>
                              </li>
                              <ul class="dropdown-menu" role="menu">
                                    <li><a style="color:black; font-size:125%" href="/stats/world_stats/">World Stats</a></li>
                                    <!--li><a style="color:black; font-size:125%" href="/stats/new_stats/">Geo Stats</a></li-->
                                    <li><a style="color:black; font-size:125%" href="/stats/geo_stats/">Geo Stats</a></li>
                              </ul>
                            </div>&nbsp;
                            <div class="btn-group">
                              <li class="dropdown-toggle" data-toggle="dropdown" style="font-size:125%;">
                                Time Stats <span class="caret"></span>
                              </li>
                              <ul class="dropdown-menu" role="menu">
                                    <!--li><a style="color:black; font-size:125%" href="/stats/sup_world/">Monthly Stats</a></li-->
                                    <li><a style="color:black; font-size:125%" href="/stats/all_years_pie/">All Years Stats</a></li>
                                    <li><a style="color:black; font-size:125%" href="/stats/pie_by_year/">By Year Stats</a></li>
                                    <!--li><a style="color:black; font-size:125%" href="/stats/sesh_by_year/">By Year Stats</a></li-->
                                    <!--li><a style="color:black; font-size:125%" href="/stats/two_sesh_by_year/">Two Sesh Stats</a></li-->
                                    <li><a style="color:black; font-size:125%" href="/stats/testing/">Testing Page</a></li>
                              </ul>
                            </div>&nbsp;
                            <div class="btn-group">
                              <li class="dropdown-toggle" data-toggle="dropdown" style="font-size:125%">
                                Session Stats <span class="caret"></span>
                              </li>
                              <ul class="dropdown-menu">
                                    <!--li><a style="color:black; font-size:125%" href="/stats/hello_world/">Platform Stats</a></li-->
                                    <li><a style="color:black; font-size:125%" href="/stats/platform_bar/">Platform Stats</a></li>
                                    <li><a style="color:black; font-size:125%" href="/stats/calendar_data/">Duration Stats</a></li>
                                    <li><a style="color:black; font-size:125%" href="/stats/bar_sesh/">Bar Chart Dur Stats</a></li>
                              </ul>
                            </div>&nbsp;
                            <div class="btn-group">
                              <li class="dropdown-toggle" data-toggle="dropdown" style="font-size:125%">
                                Function Stats <span class="caret"></span>
                              </li>
                              <ul class="dropdown-menu">
                                    <!--li><a style="color:black; font-size:125%" href="/stats/late_april_stats/">Actions Stats</a></li-->
                                    <li><a style="color:black; font-size:125%" href="/stats/most_used_pie/">Actions Stats</a></li>
                              </ul>
                            </div>&nbsp;
                            <div class="btn-group">
                                <li><a style="color:black; font-size:125%" href="/logout/">Logout</a></li>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="btn-group">
                        <li><a style="color:black; font-size:125%" href="/stats">Home</a></li>
                    </div>&nbsp;
                    <div class="btn-group">
                        <li><a style="color:black; font-size:125%" href="/login">Log in</a></li>
                    </div>
                {% endif %}
           </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block content %}
    {% endblock content %}
</div>

<br><br>
<br><br>
<br><br>
<br><br>

 <div class="navbar navbar-default navbar-fixed-bottom">
    <!--{% if request.get_full_path != "/stats/" %}-->
        <a href="https://uvcdat.llnl.gov/index.html">
            <img class="pull-left" id="footer_img" src="https://uvcdat.llnl.gov/images/uvcdat.png"></img>
        </a>&nbsp;
        <!--a href="https://github.com/UV-CDAT/uvcdat" role="button" class="btn btn-default fa fa-github"></a-->
        <a href="https://github.com/UV-CDAT/uvcdat" class="btn btn-social-icon btn-lg btn-github"><i class="fa fa-github"></i></a>
    <!--{% endif %}-->
</div>
