{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<!-- https://developers.google.com/chart/interactive/docs/gallery/timeline -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<div class="container">
    <div id="feature-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <center><h2>Each blue bar represents a total duration.</h2></center>
            </div>
            <div class="item">
                <center><h2>Hover over a blue bar for more information.</h2></center>
            </div>
        </div>
     </div>
</div>
<br>

<div class="container">
    <div id="timeline" style="height: 2500px; width: 1000px;"></div>
</div>

<script type="text/javascript">
      var que = {{cool_strings|safe}};
      google.charts.load('current', {'packages':['timeline']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var container = document.getElementById('timeline');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();
        var start = 0;
        var end = 1;
        var basics = new Array();
        for(var i = 0; i < que.length; i++){
            var othese = new Array();
            othese.push('Session duration', new Date(que[i][start]), new Date(que[i][end]));
            basics.push(othese);
        }
        dataTable.addColumn({ type: 'string', id: 'Filler string' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });
        dataTable.addRows(basics);
        var options = {
          timeline: { showRowLabels: false },
          //avoidOverlappingGridLines: false,
          backgroundColor: '#f0f8ff'
        };
        chart.draw(dataTable, options);
      }

</script>

{% endblock content %}
