<html language="en">
    <head>
        <title>Debug post thing</title>
    </head>
    <body>
        <form action="../add/error/" method="post">
            <label>platform</label>
            <input type="text" name="platform"/><br/>

            <label>platform version</label>
            <input type="text" name="platform_version"/><br/>

            <label>source</label>
            <input type="text" name="source"/><br/>

            <label>source version</label>
            <input type="text" name="source_version"/><br/>

            <label>user name</label>
            <input type="text" name="hashed_username"/><br/>

            <label>hostname</label>
            <input type="text" name="hashed_hostname"/><br/>

            <label>description</label>
            <input type="text" name="description"/><br/>

            <label>severity</label>
            <select name="severity">
                <option value="info">Info</option>
                <option value="error">Error</option>
                <option value="fatal">Fatal</option>
            </select><br/>
            
            <label>stackTrace:</label><br/>
            <textarea cols="80" rows="10" name="stack_trace">
            </textarea><br/>
            
            <label>userComments:</label><br/>
            <textarea cols="80" rows="10" name="comments">
            </textarea><br/>

            <label>executionLog:</label><br/>
            <textarea cols="80" rows="10" name="execution_log">
            </textarea><br/>

            <input type="submit" value="test!"/>
        </form>
    </body>
</html>

