<!--http://stackoverflow.com/questions/31921717/django-how-to-import-items-from-models-py-into-the-views-py-->
<!-- yo, homegirl.. this is helpful http://www.b-list.org/weblog/2007/nov/04/working-models/ -->
<!-- https://bost.ocks.org/mike/bar/ this is helpful too -->
<!-- https://bl.ocks.org -->
{% extends "base.html" %}

{% block content %}

<h1> Bar graph of the various platforms </h1>
<!--br>
{{ d_count }}
<br>
{{ m_count }}
<br>
{{ l_count }}
<br-->
<br>
<!--{% for mach in machine %}
    {{ mach.platform }}<br>
{% endfor %}
<br>
<br-->
<style>

@media (max-width: 876px) {
    .small_chart div {
      font: 8px sans-serif;
      background-color: steelblue;
      text-align: right;
      padding: 10px;
      margin: 1px;
      color: white;
    }
    .chart div {
      display: none;
    }
}

@media screen and (min-width: 877px) {
    .chart div {
      font: 9px sans-serif;
      background-color: steelblue;
      text-align: right;
      padding: 25px;
      margin: 1px;
      color: white;
    }
    .small_chart div {
      display: none;
    }
}

</style>

<div class="small_chart">
  <div style="width: {{d_count}}px;">Darwin {{d_count}}</div>
  <div style="width: {{l_count}}px;">Linux {{l_count}}</div>
  <div style="width: {{m_count}}px;">Moz. {{m_count}}</div>
</div>

<div class="chart">
  <div style="width: {{d_graph}}px;">Darwin {{d_count}}</div>
  <div style="width: {{l_graph}}px;">Linux {{l_count}}</div>
  <div style="width: {{m_graph}}px;">Moz. {{m_count}}</div>
</div>





<!--{{ mach_meta.fields }}
<br>
<br>
{{ user_meta.fields }}
<br>
<br>
{{ netinfo_meta.fields }}
<br>
<br>
{{ source_meta.fields }}
<br>
<br>
{{ action_meta.fields }}
<br>
<br>
{{ logevent_meta.fields }}
<br>
<br>
{{ user }}
<br>
<br>
{{ machine }}
<br>
<br>
{{ source }}
<br>
<br>
{{ net_info }}
<br>
<br>
{{ action }}
<br>
<br>
{{ session }}
<br>
<br>
{{ log_event }}
<br>
<br>
{{ error }} -->


{% endblock content %}
