{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>

<div class="container">
    <div id="feature-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <center><h2>Pie chart of the most used actions.</h2></center>
            </div>
            <div class="item">
                <center><h2>Click a slice to learn more.</h2></center>
            </div>
        </div>
     </div>
</div>



<div id="chart_div" style="width:1000; height:500;"></div>

<script>

  /* Load the Visualization API and the piechart package. */
  google.load('visualization', '1.0', {'packages':['corechart']});

  /* Set a callback to run when the Google Visualization API is loaded. */
  google.setOnLoadCallback(drawChart);
  var cool_data = {{all_names|safe}};

  function drawChart() {

    var outer_len = cool_data.length;
    var inner_len = cool_data[0].length;
    var outer_array = [];
    var i;
    var j;
    for(i = 0; i < outer_len; i++)
    {
        var inner_array = [];
        for(j = 0; j < inner_len; j++)
        {
            inner_array.push(cool_data[i][j]);
        }
        outer_array.push(inner_array);
    }

    /* Create the data table. */
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Function Name');
    data.addColumn('number', 'Number of Uses');
    data.addRows(outer_array);

    /* Set chart options */
    var options = { 'pieSliceText':'none',
                    'is3D':'true',
                    'tooltip':{
                        trigger: 'focus',
                        showColorCode:'true',
                        text:'percentage'
                    },
                    'slices':{}
                    };

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
    chart.selectedSlice = -1;
    
    // The event listener to explode out the slices
    function selectListener(){
        var temp = chart.getSelection();
        var selectedItem = temp[0];
        if (selectedItem) {
            var rowNumber = parseInt(selectedItem.row);

            if(chart.selectedSlice != -1){    // If we have a selection, unexplode it
                options.slices[chart.selectedSlice] = {offset:'0'};
            }
            if(chart.selectedSlice == rowNumber){ // If this is already selected, unselect it
                chart.selectedSlice = -1;
            }else{  // else explode it
                options.slices[rowNumber] = {offset:'.2'};
                chart.selectedSlice = rowNumber;
            }    
            
            chart.draw(data, options);
            
            // See comments below
            $("text:contains(" + "Most used actions" + ")").attr({'x':'276', 'y':'67'})
        }
    }        
    google.visualization.events.addListener(chart, 'select', selectListener);
    
    chart.draw(data, options);
            
    /* This is a jquery work-around to center the title of the chart
    The x and y position of the title can be set with relative coordinates to the upper-left
    of the graph div. Whenever a change to font size or div size these numbers will need to be 
    adjusted to bring the title back into proper position        
    
    The other alternative is an HTML solution posting a header centered above the div
    */
    $("text:contains(" + "Retirement Investments" + ")").attr({'x':'276', 'y':'67'})
      }



      /*google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var outer_len = cool_data.length;
        var inner_len = cool_data[0].length;
        var outer_array = [];
        var i;
        var j;
        for(i = 0; i < outer_len; i++)
        {
            var inner_array = [];
            for(j = 0; j < inner_len; j++)
            {
                inner_array.push(cool_data[i][j]);
            }
            outer_array.push(inner_array);
        }
            
        var data = google.visualization.arrayToDataTable(outer_array);

        var options = {
          title: 'Action functions'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }*/


</script>

{% endblock content %}
