{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!--{all_the_years}}<br>-->
<br><br>

<div id="piechart" style="width: 900px; height: 500px;"></div>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var okay = {{all_the_years.1|safe}};
    //var all_data = {{all_the_years|safe}};
    //alert(all_data.length);
    var all_it = new Array();
    var jan = 0;
    var feb = 0;
    var march = 0;
    var april = 0;
    var may = 0;
    var june = 0;
    var july = 0;
    var aug = 0;
    var sept = 0;
    var oct = 0;
    var nov = 0;
    var dec = 0;

    /*for(var j = 0; j < all_data.length; j+=2) {
        all_it.push(all_data[j];
    } */   

    for(var i = 0; i < okay.length; i++) {
       if(okay[i] == 1){
            jan += 1; 
       }
       if(okay[i] == 2){
            feb += 1;
       }
       if(okay[i] == 3){
            march += 1;
       }
       if(okay[i] == 4){
            april += 1;
       }
       if(okay[i] == 5){
            may += 1;
       }
       if(okay[i] == 6){
            june += 1;
       }
       if(okay[i] == 7){
            july += 1;
       }
       if(okay[i] == 8){
            aug += 1;
       }
       if(okay[i] == 9){
            sept += 1;
       }
       if(okay[i] == 10){
            oct += 1;
       }
       if(okay[i] == 11){
            nov += 1;
       }
       if(okay[i] == 12){
            dec += 1;
       }
    }

    alert("this stuff: " + sept + " " + oct + " " + nov + " " + dec);

    var data = google.visualization.arrayToDataTable([
      ['Month', 'Number of Sessions'],
      ['January',     Number(jan)],
      ['February',     Number(feb)],
      ['March',     Number(march)],
      ['April',     Number(april)],
      ['May',     Number(may)],
      ['June',     Number(june)],
      ['July',     Number(july)],
      ['August',     Number(aug)],
      ['September',     Number(sept)],
      ['October',      Number(oct)],
      ['November',  Number(nov)],
      ['December', Number(dec)]
    ]);

    var options = {
      title: 'Number of sessions for 2016'
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
  }
</script>


{% endblock content %}

