{% extends "base.html" %}

{% block title %}Welcome to the UV-CDAT Analytics Site{% endblock title %}

{% block content %}
{% load staticfiles %}
<link href="{% static 'css/base/slideshow.css' %}" rel="stylesheet">
<link href="{% static 'css/base/stats_home.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/base/carousel_js.css' %}"></script>
<!DOCTYPE html>
<html>
<head>
<link rel="icon" type="image/png" href="http://uvcdat.llnl.gov/media/images/favicon.ico">
<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css"-->
<!--script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script-->
<script src="https://d3js.org/d3.v4.min.js"></script>
</head>

<p id="showlog_par">
    It is important for the developers of UV-CDAT to collect usage data for a multitude of reasons. These reasons range from improving the customer experience to allowing the developers to fine tune which functions are popular and which functions are not. This allows the developers to better prioritize their time and improves the UV-CDAT tool for better functionality and overall user experience. In other words, the developer will know which functions are popular enough to expand and improve upon for the ultimate user experience. Another reason is that it will allow developers to discover patterns when there are bug crashes – thus, developers will be able to fix issues with UV-CDAT faster because they’ll know precisely where the issue lies. These tools within UV-CDAT provide synergistic approaches to climate modeling, allowing researchers to quickly evaluate Earth system science output. 
</p><!--/center-->
<br><br>


<div class="container">
  <div class="col-xs-12">
    <div class="carousel slide" id="myCarousel">
        <div class="carousel-inner">
            <div class="item active">
                    <ul class="thumbnails">
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="/stats/all_years_pie/"><img class="sl_img" src="{% static 'all_years_pie.png' %}" alt=""></a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="/stats/table/"><img class="sl_img" src="{% static 'stats_table.png' %}" alt=""></a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="/stats/nested_chart/"><img class="sl_img" src="{% static 'nested_chart.png' %}" alt=""></a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="/stats/sessions_started_per_day/"><img class="sl_img" src="{% static 'sessions_started_per_day.png' %}" alt=""></a>
                                </div> 
                            </div>
                        </li>
                    </ul>
              </div><!-- /Slide1 --> 
            <div class="item">
                    <ul class="thumbnails">
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="/stats/geo_stats/"><img class="sl_img" src="{% static 'geo_stats.png' %}" alt=""></a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="/stats/world_stats/"><img class="sl_img" src="{% static 'world_stats.png' %}" alt=""></a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="/stats/bar_sesh/"><img class="sl_img" src="{% static 'bar_sesh.png' %}" alt=""></a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="/stats/platform_bar/"><img class="sl_img" src="{% static 'platform_bar.png' %}" alt=""></a>
                                </div>
                            </div>
                        </li>
                    </ul>
              </div><!-- /Slide2 --> 
            <div class="item">
                    <ul class="thumbnails">
                        <li class="col-sm-3">   
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="/stats/pie_by_year/"><img class="sl_img" src="{% static 'pie_by_year.png' %}" alt=""></a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="/stats/nested_chart/"><img class="sl_img" src="{% static 'nested_chart_2.png' %}" alt=""></a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                    <a href="/stats/sessions_started_per_day/"><img class="sl_img" src="{% static 'actions_pie.png' %}" alt=""></a>
                                </div>
                            </div>
                        </li>
                    </ul>
              </div><!-- /Slide3 --> 
        </div>
       <nav>
            <ul class="control-box pager">
                <li><a data-slide="prev" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                <li><a data-slide="next" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-right"></i></li>
            </ul>
        </nav>
       <!-- /.control-box -->   
    </div><!-- /#myCarousel -->
</div><!-- /.col-xs-12 -->          
</div><!-- /.container -->

<br><br>
<br><br>

{% endblock content %} 
