{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
<!-- css -->
<link rel="icon" type="image/png" href="http://uvcdat.llnl.gov/media/images/favicon.ico">
<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css"-->

<!-- JavaScript -->
<!--script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script-->
<script src="https://d3js.org/d3.v4.min.js"></script>


</head>

<br>

<div class="jumbotron feature">
    <div class="container">
        <div id="feature-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <center><h2>Welcome to the UV-CDAT analytics site.</h2></center>
                </div>
                <div class="item">
                    <center><h2>This site contains various statistical plots in regards to UV-CDAT.</h2></center>
                </div>
                <div class="item">
                    <center><h2>Feel free to poke around :)</h2></center>
                </div>   
            </div>
         </div>
    </div>
</div>


<!--div class="container">
  <div class="row">
    <div class="jumbotron">
        <center>
            <h1>Analytics data stored here.</h1-->
            <!--% if user.is_authenticated %}-->
                <!--a class="btn btn-default" href="/logout">Logout</a-->
            <!--% else %}-->
                <!--a class="btn btn-default" href="/login">Login</a-->
                <!--a href="url 'login.show_login' %}">Click here</a-->
            <!--% endif %}
        </center>
    </div>
  </div>
</div-->
<!--center>
    <svg width="100" height="100">
        <circle style="stroke: #808080; fill: #F0F8FF; " r="40" cx="50" cy="50"></circle>
    </svg>
</center>
<br-->

<!--center>
<svg width="720" height="120">
  <circle cx="40" cy="60" r="5.656854249492381" style="fill:steelblue;"></circle>
  <circle cx="80" cy="60" r="7.54983443527075" style="fill:steelblue;"></circle>
  <circle cx="120" cy="60" r="10.583005244258363" style="fill:steelblue;"></circle>
</svg>

</center>

<script type="text/javascript">
var svg = d3.select("svg");
var circle = svg.selectAll("circle")
    .data([32, 57, 112, 293]);
var circleEnter = circle.enter().append("circle");
circleEnter.attr("cy", 60);
circleEnter.attr("cx", function(d, i) { return i * 100 + 30; });
circleEnter.attr("r", function(d) { return Math.sqrt(d); });
</script-->
{% endblock content %} 
