{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

{{ sick }}
<br><br>
{{ idgt }}
<br><br>
<!--% for dup in dup_all %}
    <p>&clubs; dup: {{ dup }} <br>
    % for d in dup.2 %}
        &rarr; d: {{d}}
    % endfor %}
    </p>
% endfor %}
<br><br-->



<div id="hidden_div" style="display:none"></div>
<div id="visible_div" style="height:300px"></div>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawTooltipCharts);

  var real = {{bay|safe}};
  var pop = {{sick|safe}};
  var cosas = {{idgt|safe}};
  //alert(real);

  // Set up data for visible chart.
  /*var outer_array = [];
  var i;
  for(i=0; i < real.length; i++){
    var inner_array = [];
    inner_array.push(real[i].toString());
    inner_array.push(parseInt(.5));
    inner_array.push(parseInt(1));
    outer_array.push(inner_array);
  }
  //outer_array.push(real);
  alert(outer_array[0]);
  var primaryData = outer_array;*/
  /*var primaryData = [
    ['NBA Finals', 22.4],
    ['NFL Super Bowl', 111.3],
    ['MLB World Series', 19.2],
    ['UEFA Champions League Final', 1.9],
    ['NHL Stanley Cup Finals', 6.4],
    ['Wimbledon Men\'s Championship', 2.4]
  ];*/
  var primaryData = [
    ['cdms2', 22.4],
    ['cdutil', 111.3],
    ['genutil', 19.2],
    ['pcmdi_metrics_driver', 1.9],
    ['vcs', 6.4],
    ['none', 0.0]
  ];
    //alert(primaryData.length);

  // Set up data for your tooltips.
  /*var tooltipData = [
    ['Year', 'NBA Finals', 'NFL Super Bowl', 'MLB World Series',
    'UEFA Champions League Final', 'NHL Stanley Cup Finals',
    'Wimbledon Men\'s Championship'],
    ['2005', 12.5, 98.7, 25.3, 0.6, 3.3, 2.8],
    ['2006', 13.0, 90.7, 17.1, 0.8, 2.8, 3.4],
    ['2007', 9.3, 93.0, 15.8, 0.9, 1.8, 3.8],
    ['2008', 14.9, 97.5, 17.1, 1.3, 4.4, 5.1],
    ['2009', 14.3, 98.7, 13.6, 2.1, 4.9, 5.7],
    ['2010', 18.2, 106.5, 19.4, 2.2, 5.2, 2.3],
    ['2011', 17.4, 111.0, 14.3, 4.2, 4.6, 2.7],
    ['2012', 16.8, 111.3, 16.6, 2.0, 2.9, 3.9],
    ['2013', 16.6, 108.7, 12.7, 1.4, 5.8, 2.5],
    ['2014', 15.7, 111.3, 15.0, 1.9, 4.7, 2.4]
  ];*/

  var tooltipData = [
    ['sub_function name', 'cdms2', 'cdutil', 'genutil',
    'pcmdi_metrics_driver', 'vcs',
    'none'],
    ['generate', 0, 98.7, 0, 0, 0, 0],
    ['region', 0, 90.7, 0, 0, 0, 0],
    ['times', 0, 93.0, 0, 0, 0, 0],
    ['vertical', 0, 97.5, 0, 0, 0, 0],
    ['StringCon', 0, 0, 13.6, 0, 0, 0],
    ['area_weig', 0, 0, 19.4, 0, 0, 0],
    ['averager', 0, 0, 14.3, 0, 0, 0],
    ['filters', 0, 0, 16.6, 0, 0, 0],
    ['minmax', 0, 0, 12.7, 0, 0, 0],
    ['picker', 0, 0, 15.0, 0, 0, 0],
    ['statis', 0, 0, 12.7, 0, 0, 0]
  ];

  var primaryOptions = {
    title: 'MAIN CHART',
    is3D: 'true',
    legend: 'none',
    tooltip: {isHtml: true} // This MUST be set to true for your chart to show.
  };

  var tooltipOptions = {
    title: 'SUB CHART',
    is3D: 'true',
    legend: 'none'
  };

  var okay = Array.from(tooltipData);
  var v;
  okay.shift();
  //alert(okay[0].length);
  //var col_1 = 0;
  var col_2 = 0;
  var col_3 = 0;
  var col_4 = 0;
  var col_5 = 0;
  var col_6 = 0;
  var col_7 = 0;
  var nest_length = okay[0].length;
  var i = 1;
  //alert("nest_length " + nest_length);
  //alert("okay length " + okay.length);
  while(i <= nest_length){
    for(var k=0; k < okay.length; k++){
        /*if(i==0){
            alert(okay[k][i]);
            col_1 += okay[k][i];
        }*/
        if(i==1){
            col_2 += okay[k][i];
        }
        if(i==2){
            col_3 += okay[k][i];
        }
        if(i==3){
            col_4 += okay[k][i];
        }
        if(i==4){
            col_5 += okay[k][i];
        }
        if(i==5){
            col_6 += okay[k][i];
        }
        if(i==6){
            col_7 += okay[k][i];
        }
    }
    i += 1;
  }
 
  alert(/*col_1 + */"   " + col_2 + "    " + col_3 + "   " + col_4 + "    " + col_5 + "    " + col_6 + "  " + col_7);
  // Draws your charts to pull the PNGs for your tooltips.
  function drawTooltipCharts() {
    var data = new google.visualization.arrayToDataTable(tooltipData);
    var view = new google.visualization.DataView(data);
    // For each row of primary data, draw a chart of its tooltip data.
    for (var i = 0; i < primaryData.length; i++) {
      // Set the view for each event's data
      view.setColumns([0, i + 1]);
      var hiddenDiv = document.getElementById('hidden_div');
      // var tooltipChart = new google.visualization.LineChart(hiddenDiv);
      var tooltipChart = new google.visualization.PieChart(hiddenDiv);

      //alert(tooltipData.length);
      google.visualization.events.addListener(tooltipChart, 'ready', function() {

        // Get the PNG of the chart and set is as the src of an img tag.
        var tooltipImg = '<img src="' + tooltipChart.getImageURI() + '">';

        //alert(primaryData[i]);
        // Add the new tooltip image to your data rows.
        primaryData[i][2] = tooltipImg;

      });
      tooltipChart.draw(view, tooltipOptions);
    }
    drawPrimaryChart();
  }

  function drawPrimaryChart() {

    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Event');
    data.addColumn('number', 'Highest Recent Viewership');

    // Add a new column for your tooltips.
    data.addColumn({
      type: 'string',
      label: 'Tooltip Chart',
      role: 'tooltip',
      'p': {'html': true}
    });

    // Add your data (with the newly added tooltipImg).
    data.addRows(primaryData);

    var visibleDiv = document.getElementById('visible_div');
    // var primaryChart = new google.visualization.ColumnChart(visibleDiv);
    var primaryChart = new google.visualization.PieChart(visibleDiv);
    primaryChart.draw(data, primaryOptions);

  }
</script>


{% endblock content %}
