{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<!-- https://davidwalsh.name/array-insert-index -->
<!-- http://stackoverflow.com/questions/22627791/google-chart-line-chart-turn-off-tooltip-for-a-single-column -->
<!-- helpful for tooltip http://stackoverflow.com/questions/40250013/google-charts-tooltip-options -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link href="{% static 'css/function_stats/nested_chart.css' %}" rel="stylesheet">

<center>
<h1>Most Used Actions</h1>
<div id="hidden_div" style="display:none"></div>
<div id="visible_div" style="height:1000px"></div>
</center>

<script type="text/javascript">
  var col_1 = 0;
  var col_2 = 0;
  var col_3 = 0;
  var col_4 = 0;
  var col_5 = 0;
  var col_6 = 0;
  var col_7 = 0;
  var draw_col_1 = 1;
  var draw_col_2 = 1;
  var draw_col_3 = 1;
  var draw_col_4 = 1;
  var draw_col_5 = 1;
  var draw_col_6 = 1;
  var draw_col_7 = 1;
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawTooltipCharts);

  var infinity = {{yeah|safe}}

  var primaryData = [];
  var names = [];
  names.push("sub_function name");
  for(var j=0; j<infinity.length; j++){
    var stuff = [];
    names.push(infinity[j][0]);
    stuff.push(infinity[j][0]);
    stuff.push(infinity[j][1]);
    primaryData.push(stuff);
  } 
  var until = [];
  names.push("none");
  until.push("none");
  until.push(0);
  primaryData.push(until);

  var quebueno = [];
  quebueno.push(names);
  var que = [];
  for(var k=0; k<infinity.length; k++){
    if($.isEmptyObject(infinity[k][2])){
         var one = [];
         one.push("none");
         one.push(0);
         quebueno.push(one);
    }
    if(!($.isEmptyObject(infinity[k][2]))){
        quebueno.push(infinity[k][2]);
        que.push(infinity[k][2]);
    }
  }

  var guest = [];
  for(var l=0; l<que.length; l++){
    var len = que[l].length;
    var m=0;
    for(var s=0; s<len; s++){
        if(m==0){
            var pant = [];
        }
        if(m<2){
            pant.push(que[l][s]);
            m++;
        }
        if( m!= 0){
            if(isOdd(m) == 0){
              guest.push(pant);
              m = 0;
            }
        } 
    }
  }

  Array.prototype.insert = function (index, item) {
    this.splice(index, 0, item);
  };

  for(var y=0; y<guest.length; y++){
    var len = guest[y].length;
    console.log(guest[y][0]);
    if(guest[y][0] == 'generateLandSeaMask' || guest[y][0]=='region' || guest[y][0] == 'times' || guest[y][0] == 'vertical'){
        guest[y].insert(1, 0);
        guest[y].push(0);
        guest[y].push(0);
        guest[y].push(0);
        guest[y].push(0);
    }
    if(guest[y][0] == 'StringConstructor' || guest[y][0]=='area_weights' || guest[y][0] == 'averager' || guest[y][0] == 'filters' || guest[y][0] == 'minmax' || guest[y][0]=='picker' || guest[y][0] == 'statistics'){
        guest[y].insert(1, 0);
        guest[y].insert(1, 0);
        guest[y].push(0);
        guest[y].push(0);
        guest[y].push(0);
    }
  }
  guest.insert(0, names);
  console.log(guest);
  var tooltipData = guest;
  /*var tooltipData = [
    ['sub_function name', 'cdms2', 'cdutil', 'genutil',
    'pcmdi_metrics_driver', 'vcs',
    'none'],
    ['generate', 0, 98.7, 0, 0, 0, 0],
    ['region', 0, 90.7, 0, 0, 0, 0],*/
    /*['times', 0, 93.0, 0, 0, 0, 0],
    ['vertical', 0, 97.5, 0, 0, 0, 0],*/
    //['StringCon', 0, 0, 13.6, 0, 0, 0],
    //['area_weig', 0, 0, 19.4, 0, 0, 0],
    /*['averager', 0, 0, 14.3, 0, 0, 0],
    ['filters', 0, 0, 16.6, 0, 0, 0],
    ['minmax', 0, 0, 12.7, 0, 0, 0],
    ['picker', 0, 0, 15.0, 0, 0, 0],
    ['statis', 0, 0, 12.7, 0, 0, 0]*/
  //];

  var okay = Array.from(tooltipData);
  var v;
  okay.shift();
  //alert(okay[0].length);
  //var col_1 = 0;
  /*var col_2 = 0;
  var col_3 = 0;
  var col_4 = 0;
  var col_5 = 0;
  var col_6 = 0;
  var col_7 = 0;*/
  var nest_length = okay[0].length;
  var i = 1;
  //alert("nest_length " + nest_length);
  //alert("okay length " + okay.length);
  while(i <= nest_length){
    for(var k=0; k < okay.length; k++){
        /*if(i==0){
            alert(okay[k][i]);
            col_1 += okay[k][i];
        }*/
        if(i==1){
            col_2 += okay[k][i];
        }
        if(i==2){
            col_3 += okay[k][i];
        }
        if(i==3){
            col_4 += okay[k][i];
        }
        if(i==4){
            col_5 += okay[k][i];
        }
        if(i==5){
            col_6 += okay[k][i];
        }
        if(i==6){
            col_7 += okay[k][i];
        }
    }
    i += 1;
  }
 
  console.log(col_2 + "    " + col_3 + "   " + col_4 + "    " + col_5 + "    " + col_6 + "  " + col_7);
  //alert(/*col_1 + */"   " + col_2 + "    " + col_3 + "   " + col_4 + "    " + col_5 + "    " + col_6 + "  " + col_7);
  // Draws your charts to pull the PNGs for your tooltips.
  function drawTooltipCharts() {
    var data = new google.visualization.arrayToDataTable(tooltipData);
    var view = new google.visualization.DataView(data);
    // For each row of primary data, draw a chart of its tooltip data.
    for (var i = 0; i < primaryData.length; i++) {
      // Set the view for each event's data
      view.setColumns([0, i + 1]);
      var hiddenDiv = document.getElementById('hidden_div');
      // var tooltipChart = new google.visualization.LineChart(hiddenDiv);
      var tooltipChart = new google.visualization.PieChart(hiddenDiv);

      //alert(tooltipData.length);
      google.visualization.events.addListener(tooltipChart, 'ready', function() {

        // Get the PNG of the chart and set is as the src of an img tag.
        var tooltipImg = '<img style="width: 500px; height: auto;" src="' + tooltipChart.getImageURI() + '">';
        var hidetooltipImg = '<img style="display: none" src="' + tooltipChart.getImageURI() + '">';

        //alert(primaryData.length);
        // Add the new tooltip image to your data rows.
        console.log(i);
        if(i == 0){
            //refers to blue slice tooltip
            if(col_1 == 0){
                draw_col_1 = 0; 
                primaryData[i][2] = hidetooltipImg;
            }
            if(col_1 != 0){
                draw_col_1 = 1; 
                primaryData[i][2] = tooltipImg;
            }
        }
        if(i == 1){
            if(col_2 == 0){
                draw_col_2 = 0; 
                primaryData[i][2] = tooltipImg;
            }
            if(col_2 != 0){
                draw_col_2 = 1; 
                primaryData[i][2] = hidetooltipImg;
            }
        }
        if(i == 2){
            //refers to orange slice tooltip
            if(col_3 == 0){
                draw_col_3 = 0; 
                primaryData[i][2] = hidetooltipImg;
            }
            if(col_3 != 0){
                draw_col_3 = 1; 
                primaryData[i][2] = tooltipImg;
            }
        }
        if(i == 3){
            //refers to green slice tooltip
            if(col_4 == 0){
                draw_col_4 = 0; 
                primaryData[i][2] = tooltipImg;
            }
            if(col_4 != 0){
                draw_col_4 = 1; 
                primaryData[i][2] = hidetooltipImg;
            }
        }
        if(i == 4){
            //refers to purple slice tooltip
            if(col_5 == 0){
                draw_col_5 = 0; 
                primaryData[i][2] = hidetooltipImg;
            }
            if(col_5 != 0){
                draw_col_5 = 1; 
                primaryData[i][2] = tooltipImg;
            }
        }
        if(i == 5){
            if(col_6 == 0){
                draw_col_6 = 0; 
                primaryData[i][2] = hidetooltipImg;
            }
            if(col_6 != 0){
                draw_col_6 = 1; 
                primaryData[i][2] = tooltipImg;
            }
        }
        if(i == 6){
            if(col_7 == 0){
                draw_col_7 = 0; 
                primaryData[i][2] = hidetooltipImg;
           }
            if(col_7 != 0){
                draw_col_7 = 1; 
                primaryData[i][2] = tooltipImg;
           }
        }

      });
      tooltipChart.draw(view);
    }
    drawPrimaryChart();
  }

  var primaryOptions = {
    title: 'Most Used Actions',
    pieHole: 0.4,
    pieSliceText: 'label',
    pieSliceTextStyle: {fontSize: 16},
    reverseCategories: true,
    titleTextStyle: {fontSize: 25},
    titlePosition: 'none',
    legend: {position: 'top', 
             alignment: 'center',
             textStyle: { fontSize: 16},
            },
    tooltip: {isHtml: 1}, // This MUST be set to true for your chart to show.
    series : {
        0: { },
        1: { trigger: 'none', enableInteractivity: false, tooltip: 'none'},
        2: { trigger: 'none', enableInteractivity: true, tooltip: 'none'},
        3: { trigger: 'none', enableInteractivity: true, tooltip: 'none'},
        4: { trigger: 'none', enableInteractivity: false, tooltip: 'none'},
        5: { trigger: 'none', enableInteractivity: false, tooltip: 'none'},
        6: { trigger: 'none', enableInteractivity: false, tooltip: 'none'},
    },
    slices: {0: {color: '#e9ece5'}, 1: {color: '#c0dfd9'}, 2: {color: '#b3c2bf'}, 3: {color: '#e6cf8b'}, 4: {color: '#22264b'}, 5: {color: '#b56969'} },

  };

  function drawPrimaryChart() {

    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Action Name');
    data.addColumn('number', 'Number of uses');
    //data.addColumn('string', 'Event');
    //data.addColumn('number', 'Highest Recent Viewership');

    // Add a new column for your tooltips.
    data.addColumn({
      type: 'string',
      label: 'Tooltip Chart',
      role: 'tooltip',
      'p': {'html': true}
    });

    // Add your data (with the newly added tooltipImg).
    data.addRows(primaryData);

    var visibleDiv = document.getElementById('visible_div');
    var primaryChart = new google.visualization.PieChart(visibleDiv);
    primaryChart.draw(data, primaryOptions);
  }

function isOdd(num){ return num % 2; }
</script>


{% endblock content %}
