{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<link href="{% static 'css/months_graph.css' %}" rel="stylesheet">
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://raw.githubusercontent.com/benkeen/d3pie/0.2.1/d3pie/d3pie.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/4.7.2/d3.min.js"></script>
<!-- https://www.dashingd3js.com/svg-basic-shapes-and-d3js -->
<!--script src="d3pie.min.js"></script-->
<script src="d3pie.min.js"></script>
<script type="text/javascript" src="{% static 'js/months_graph.js' %}"></script>
<!--script type="text/javascript" src="% static 'js/basic_line_axes.js' %}"></script-->
<!-- this tutorial is important https://www.dashingd3js.com/d3js-axes -->
<!-- http://d3pie.org/#generator-misc -->

<div class="container">
    <div id="feature-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <center><h2>Pie chart of session start dates by month.</h2></center>
            </div>
            <div class="item">
                <center><h2>If a month is not displayed, there were 0 active user sessions for that month.</h2></center>
            </div>
        </div>
     </div>
</div>

<br>

<span id="months">{{months}}</span><br>
<span id="monthdata">{{monthdata}}</span><br>
<span id="coords">{{lineData}}</span>

<div class="container">
    <div class="row">
        <center>
            <div id="pieChart"></div>
        </center>
    </div>
</div>


<!--br>
<svg width="50" height="50">
   <polyline fill="none" stroke="blue" stroke-width="2"
     points="05,30
             15,30
             15,20
             25,20
             25,10
             35,10" />
 </svg>
<br><br-->
<!--% for line in lineData %}
    { line }}
    % for l in line %}
        { l }} : 
    % endfor %}
    <br>
% endfor %}
<br-->
<!--svg width="50" height="50">
  <line x1="5" y1="5" x2="40" y2="40" stroke="gray" stroke-width="5"  />
</svg-->

{% endblock content %}
