{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<span id="months">{{months}}</span><br>
<span id="monthdata">{{monthdata}}</span><br>
<span id="coords">{{lineData}}</span><br>

{{ all_the_years.1 }}
<br><br>

<div id="piechart" style="width: 900px; height: 500px;"></div>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var okay = {{all_the_years|safe}};
    alert(okay[1]);

    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['Work',     11],
      ['Eat',      2],
      ['Commute',  2],
      ['Watch TV', 2],
      ['Sleep',    7]
    ]);

    var options = {
      title: 'My Daily Activities'
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
  }
</script>


{% endblock content %}

