{% extends "base.html" %}
{% block content %}
{% load static %}
<!-- http://bootsnipp.com/snippets/featured/login-and-register-tabbed-form -->

<link rel="stylesheet" href="{% static 'css/login_css.css' %}">
<link rel="icon" type="image/png" href="http://uvcdat.llnl.gov/media/images/favicon.ico">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css">

<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<!DOCTYPE html>
<br>
<html>
    <head>
        <title>Log-in</title>
    </head>
<div class="container">
  <div class="row">
    <div class="jumbotron">
        <center>
          {% if user.is_authenticated %}
            <h2>It appears that you are already logged in.</h2>
          {% else %}
            <h2>Login to see the stored analytics.</h2>
          {% endif %}
        </center>
    </div>
  </div>
</div>
  <center>
    <body>
        {% if error_message %}<p><strong><font color="#ff0000">{{ error_message }}</font></strong></p>{% endif %}
    {% if user.is_authenticated %}
        <!--h1>It appears that you are already logged in.</h1>
        <a class="btn btn-default" href="/logout">Logout</a-->
    {% else %}
        <!--h1>SECOND</h1--->
    <div class="container">
     <div class="col-md-6 col-md-offset-3">
       <div class="panel panel-login">
         <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
                <div style="border: 1px solid lightgrey">
                    <form id="login-form" action='.' method='post'>
                        {% csrf_token %}
                        <input type='hidden' name='redir' value='{{ redir }}'/>
                        <table class="table" border="0">
                            <tr>
                                <td>
                                    <label for="username">Username:</label>
                                </td>
                                <td>
                                    <input type="text" name="username" id="username" /><br/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="password">Password:<label>
                                </td>
                                <td>
                                    <input type="password" name="password" id="password" /><br/>
                                </td>
                            </tr>
                        </table>
                        <input class="btn btn-default" type='submit' value='Log in'/>
                    </form>
              </div>
            </div>
           </div>
         </div>
        </div>
       </div>
      </div>
    {% endif %}
    </body>
  </center>
</html>


{% endblock content %}
