{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<!-- https://developers.google.com/chart/interactive/docs/gallery/timeline -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<h1>sup</h1>
{% for big in big_cool_diff %}
{% endfor %}<br>

{{ big_cool_diff.0.0 }}<br>
{{ big_cool_diff.0.1 }}<br>
{{ big_cool_diff.0.1.0 }}<br>
{{ big_cool_diff.0.1.1 }}<br>
{{ big_cool_diff.0.1.2 }}<br>
{{ big_cool_diff.0.1.3 }}<br>

<!--% for la in la_diff %}
    { la }} 
% endfor %}<br-->

<div id="chart_div"></div>
      

<script>
google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

      var django = {{big_cool_diff|safe}};
      alert(django[0][0] + " annnnnnnd " + django[0][1] + " annnnnnd " + django[0][1][0]);

      var data = new google.visualization.DataTable();
      data.addColumn('timeofday', 'Time of Day');
      data.addColumn('number', 'Motivation Level');

      data.addRows([
        [{v: [0, 0, 0], f: 'I am'}, 1],
        [{v: [1, 0, 0], f: 'here'}, 2],
        [{v: [2, 0, 0], f:'10 am'}, 3],
        [{v: [3, 0, 0], f: '11 am'}, 4],
        [{v: [4, 0, 0], f: '12 pm'}, 5],
        [{v: [5, 0, 0], f: '1 pm'}, 6],
        [{v: [6, 0, 0], f: '2 pm'}, 7],
        [{v: [7, 0, 0], f: '3 pm'}, 8],
        [{v: [8, 0, 0], f: '4 pm'}, 9],
        [{v: [9, 0, 0], f: '5 pm'}, 10],
        [{v: [10, 0, 0], f: '6 pm'}, 1],
        [{v: [11, 0, 0], f: '7 pm'}, 2],
        [{v: [12, 0, 0], f:'8 pm'}, 3],
        [{v: [13, 0, 0], f: '9 pm'}, 4],
        [{v: [14, 0, 0], f: '10 pm'}, 5],
        [{v: [15, 0, 0], f: '11 pm'}, 6],
        [{v: [16, 0, 0], f: '12 pm'}, 7],
        [{v: [17, 0, 0], f: '1 am'}, 8],
        [{v: [18, 0, 0], f: '2 am'}, 9],
        [{v: [19, 0, 0], f: '3 am'}, 10],
      ]);

      var options = {
        title: 'Motivation Level Throughout the Day',
        hAxis: {
          title: 'Time of Day',
          format: 'h:mm a',
          viewWindow: {
            min: [0, 00, 0],
            max: [24, 00, 0]
          }
        },
        vAxis: {
          title: 'Rating (scale of 1-10)'
        }
      };

      var chart = new google.visualization.ColumnChart(
        document.getElementById('chart_div'));

      chart.draw(data, options);
    }
</script>

{% endblock content %}

