{% extends "base.html" %}

{% block title %}Number of Unique Users Per Day{% endblock title %}

{% block content %}
{% load staticfiles %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<center>
<div id="calendar_basic" style="width: 1000px; height: 350px;"></div>
</center>

<script type="text/javascript">
  google.charts.load("current", {packages:["calendar"]});
  google.charts.setOnLoadCallback(drawChart);

  var time_data = {{all_dates|safe}};

  var new_a = [];
  for(var i=0; i < time_data.length; i++){
    var nested = [];
    var kay = time_data[i][0];
    var res = kay.substring(1, kay.length-1);
    var oll = res.split(",");
    var month = oll[1];
    month = month-1;
    var date_js = new Date(oll[0], month, oll[2]);
    nested.push(date_js);
    nested.push(time_data[i][1]);
    new_a.push(nested);
  } 

function drawChart() {
   var dataTable = new google.visualization.DataTable();
   dataTable.addColumn({ type: 'date', id: 'Date' });
   dataTable.addColumn({ type: 'number', id: 'Won/Loss' });
   dataTable.addRows(new_a);

   var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

   var options = {
     height: 350,
   };

   chart.draw(dataTable, options);
}
</script>

{% endblock content %}
