<!DOCTYPE html>
<html language="en">
    <head>
        <title>Please log in</title>
    </head>
    <body>
        <h2>You must log in to continue</h2>

        {% if error_message %}<p><strong><font color="#ff0000">{{ error_message }}</font></strong></p>{% endif %}

        <form action="/log/show/" method="post">
        {% csrf_token %}
        <table border="0">
            <tr>
                <td>
                    <label for="username">Username:</label>
                </td>
                <td>
                    <input type="text" name="username" id="username" /><br/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">Password:<label>
                </td>
                <td>
                    <input type="password" name="password" id="password" /><br/>
                </td>
            </tr>
        </table>
        <input type="submit" value="Log in"/>
        </form>
    </body>
</html>
