<!DOCTYPE html>
<html>
    <head> <!-- css -->
        <link rel="icon" type="image/png" href="http://uv-cdat.llnl.gov/images/uv-cdat-favicon.png">
        <link rel="stylesheet" href="http://uv-cdat.llnl.gov/styles.css" type="text/css">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/usageTheme.css">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.10.2.custom.css">
            
        <!-- JavaScript -->
        <script type="text/javascript" charset="utf8" language="javascript" src="{{ STATIC_URL }}scripts/jquery-1.9.1.js"></script>
        <script type="text/javascript" charset="utf8" language="javascript" src="{{ STATIC_URL }}scripts/jquery.dataTables.js"></script>
        
        <!-- Load from CDN if files failed to load locally (eg. on an unconfigured development machine) -->
        <script type="text/javascript" charset="utf8" language="javascript">
        if (typeof jQuery == 'undefined') {
           document.write(unescape("%3Cscript src=\"http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js\" type=\"text/javascript\"%3E%3C/script%3E"));
        }
        if (typeof jQuery.fn.dataTable == 'undefined') {
           document.write(unescape("%3Cscript src=\"http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js\" type=\"text/javascript\"%3E%3C/script%3E"));
        }
        </script>
        <script type="text/javascript" charset="utf8" language="javascript" src="{{ STATIC_URL }}scripts/jquery-ui-1.10.2.custom.js"></script>
        
        {% if user.is_authenticated %}
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                oTable = $('#error_table').dataTable( {
                    "bProcessing": true,
                    "bJQueryUI": true,
                    "sPaginationType": "full_numbers",
                    "aaSorting": [[ 1, "desc" ]],
                    "sAjaxSource": '../json/errorlist/',
                    "sAjaxDataProp": 'errors',
                    "aoColumns": [
                        { "mData": "id", "mRender": function(data, type, row) {return '<a href="../error/' + data + '">Error ' + data + '</a>'} },
                        { "mData": "date" },
                        { "mData": "severity"},
                        { "mData": "source" },
                        { "mData": "platform"},
                        { "mData": "description"},
                        { "mData": "domain" }
                    ]
                } );
            } );
        </script>
        {% endif %}
    <body>
        <!-- header starts here -->
        <div id="header" style="overflow: hidden">
            <div id="logo" style="float: left; margin-right: 20px; margin-left: -10px">
                <a href="http://uv-cdat.llnl.gov/"><img src="http://uv-cdat.llnl.gov/images/uv-cdat-logo.png" height="70" border="0"></a>
            </div>
            <div style="float: right; margin-right: 20px">
                <img src="http://uv-cdat.llnl.gov/images/DOE_Banner.png" height="70" >
            </div>
            
            <div style="float: right; margin-right: 20px"> 
                <img src="http://uv-cdat.llnl.gov/images/logo.png" height="70" >     
            </div>
            
            <div>  <!-- inside header -->   
            
                <div class="title">UV-CDAT
                </div>
                <div class="subtitle">Ultrascale Visualization - Climate Data Analysis Tools
                </div>
                <!-- projects top navigation -->  
                <!-- projects top navigation -->  
                <div class="projects">  <!-- projects -->   
                    <a href="/cdat-site">CDAT</a> &middot;
                    <a href="/vistrails-site">VisTrails</a> &middot;
                    <a href="/paraview-site">ParaView</a>  &middot;
                    <a href="/visit-site">VisIt</a>  &middot;
                    <a href="/dv3d-site">DV3D</a>  &middot;
                    <a href="/r-site">R</a> &middot;
                    <a href="http://www.earthsystemcog.org/projects/esmf/">ESMF</a>
                </div> <!-- projects -->    
            
            </div>  <!-- inside header -->
		</div>  <!-- header -->
        
        <div id="main-div" class="content">
            {% if user.is_authenticated %}
            <h4 class="table-caption">Error Log (latest 100 entries)</h4>
            <table border=1 id="error_table">
                <thead>
                    <tr>
                        <th>Error ID</th>
                        <th>Date</th>
                        <th>Severity</th>
                        <th>Source</th>
                        <th>Platform</th>
                        <th>Description</th>
                        <th>Domain</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <font size="1">
                This product includes GeoLite data created by MaxMind, available from <a href="http://www.maxmind.com">http://www.maxmind.com</a>.
            </font>
            {% else %}
            <p>Please <a href="../login">log-in</a> to see more detailed logs.</p>
            {% endif %}
        </div>
    </body>
</html>
