<html>
    <head>
        <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}jquery-1.9.1.js"></script>
        <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                $('#domain_table').dataTable( {
                    "bProcessing": true,
                    "sAjaxSource": '../json/domain/',
                    "aoColumns": [
                        { "mData": "ip" },
                        { "mData": "name" }
                    ]
                } );
                $('#log_table').dataTable( {
                    "bProcessing": true,
                    "sAjaxSource": '../json/logInfo/',
                    "aoColumns": [
                        { "mData": "date" },
                        { "mData": "source" },
                        { "mData": "user" },
                        { "mData": "action" }
                    ]
                } );
            } );
        </script>
    <body>
        <center>
            <table border=1 id="domain_table">
                <caption>Domains</caption>
                <thead>
                    <tr>
                        <th>IP address</th>
                        <th>Domain name</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <br>
            <table border=1 id="log_table">
                <caption>Log (latest 200 entries)</caption>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Source</th>
                        <th>User</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </center>
    </body>
</html>
